[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
datetime = "*"
python-dateutil = "*"
redis = "*"
pytz = "*"
python-dotenv = "*"
mattermostdriver = "*"

[dev-packages]

[requires]
python_version = "3.12"
